html {
  font-size: $font-size-base;
}

html, body {
  min-height: 100vh;
}
 body {
  display: flex;
  flex-direction: column;
 }

.wrap {
  flex: 1;
}

dt {
  font-size: 1.2em;
}

dd + dt {
  margin-top: $line-height-computed;
}

.content {

  a {
    text-decoration: underline;
    color: $link-color;

    &:hover {
      color: darken($link-color,5%);
    }

    &:focus {
      background-color: $brand-primary;
      color: #fff;
      outline: 4px solid $brand-primary;
      outline-offset: initial;
    }
  }

  li {
    margin-bottom: 0.75rem;
  }
}


// Little fix to prevent this container for showing focus
.content {
  &:focus {
    outline: none;
  }
}
