// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-green:            #065B4A;
$brand-gold:             #987D4D;
$brand-primary:          $brand-green;

$link-color:            #047b64;

$font-size-base:        16px;

// Borders
$border-radius-base:     0;
$border-radius:          0;
$border-radius-lg:       0;
$border-radius-sm:       0;

// Buttons
$btn-primary-bg:      $brand-green;

// Breakpoints for home page
$breakpoint-mobile-nav-min:  62rem;
$breakpoint-mobile-nav-max:  61.9rem;
