.sidebar {
  margin-top: 131px;

  h2 {
    @extend .h4;
  }

  h2:first-of-type {
    margin-top: 0;
  }

  .menu {
    padding-left: 0;
    list-style: none;

  }
}

.related-pages {
  .page-title {
    display: block;
    font-weight: 700;
    font-size: 1.1em;
  }
  li {
    margin-bottom: 0.75rem;
  }

  ul + h2 {
    margin-top: 1.5rem;
  }
}
