.sidebar {
  @media screen and (min-width: $screen-sm-min) {
    margin-top: 88px; // the height to match the top of the sidebar with the page title
    border-left: 1px solid #eee;
  }

  h2 {
    @extend .h4;
    border-top: 8px solid $brand-green;
    padding-top: 1rem;
  }

  h2:first-of-type {
    margin-top: 0;
  }

  .menu {
    padding-left: 0;
    list-style: none;

  }

  .search {
    margin-bottom: 36px;
    min-height: 62px;
  }
}

.related-pages {
  .page-title {
    display: block;
    font-weight: 700;
    font-size: 1.1em;
  }
  li {
    margin-bottom: 0.75rem;
  }

  ul + h2 {
    margin-top: 1.5rem;
  }
}
